.header-container{
    display: flex;
    column-gap: 4rem;
    padding: 23px 20px;
    color: #ffffff62;
}
.glass-mobile{
    display: none;
}
.search-input{
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
    width: 100%;
}
input{
    background-color: transparent;
    color: #ffffff62;
    border: none;
    font-size: 14px;
    font-weight: 600;
    width: 50%;
    padding: 5px;
}
@media (max-width: 720px) {
    .header-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 25px 0px;
    }
    .header-left{
        display: flex;
        align-items: center;
        column-gap: 1.6rem;
    }
    .burger{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }
    .burger span{
        display: block;
        width: 1.3rem;
        border: 1.5px solid #ffffff;
        
    }
    .glass-mobile{
        display: block;
    }
    .search-input{
        width: 0;
        display: none;
    }
    input{
        display: none;
    }
}