.newrelease{
    margin-top: 50px;
}
.swiper-container{
    margin-top: 20px;
}
.carousel{
    cursor: grab;
    overflow: hidden;
}
.inner-carousel{
   display: flex; 
   column-gap: 30px;
   width: 1251px;
   
    
}
.swiper-wrapper{
    display: flex;
    column-gap: 30px;
}
.swiper-slide{
    /* border: 1px solid; */
    
    height: 193px;
    width: 153px;
}
.swiper-image{
    height: 153px;
    width: 100%;
    /*border: 1px solid;*/
    border-radius: 25px;

}

.swiper-image img{
    width: 100%;
}
.release-title, .release-artist{
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}
@media (max-width: 720px){
    .inner-carousel{
        width: 1251px;
         
     }
     .release-title{
         margin-top: 5px;
         font-size: 0.75rem;
         line-height: 0.93rem;
         font-weight: 400;
     }
     .release-artist{
        font-size: 0.75rem;
        line-height: 0.93rem;
        font-weight: 400;
    }
}
@media(max-width: 850px){
    
}